USE [QLCD]
GO
/****** Object:  UserDefinedDataType [dbo].[DOMAIN_1]    Script Date: 1/3/2019 6:00:55 PM ******/
CREATE TYPE [dbo].[DOMAIN_1] FROM [char](10) NULL
GO
/****** Object:  UserDefinedFunction [dbo].[ChuyenDeCoThuocNganhMaSinhVienDangKy]    Script Date: 1/3/2019 6:00:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--chuyên đề có thuộc ngành mà sinh viên đăng ký
CREATE function [dbo].[ChuyenDeCoThuocNganhMaSinhVienDangKy](@macd char(15),@mssv char(10))
returns int
as begin
	declare @kq int
	declare @manganh char(10)
	select @manganh = sv.MANGANH from SINHVIEN sv where sv.MASV =@mssv
	select @kq = count(*) from CHUYENDE cd where cd.MACD= @macd and cd.MANGANH = @manganh
	return @kq;
end
GO
/****** Object:  UserDefinedFunction [dbo].[SoLuongChuyenDeSinhVienDaDangKy]    Script Date: 1/3/2019 6:00:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- số lượng chuyên đề sinh viên đã đăng ký
CREATE function [dbo].[SoLuongChuyenDeSinhVienDaDangKy](@mssv char(10))
returns int
as begin
	declare @kq int
	select @kq= count(*) from DANGKY_LOP_CHUYENDE dkcd where dkcd.MASV = @mssv
	return @kq
end
GO
/****** Object:  UserDefinedFunction [dbo].[SoLuongDaDangKyChuyenDe]    Script Date: 1/3/2019 6:00:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
----------------------------------------------------------------------------- EDIT---------------------------------
-- dunction đếm số lượng người đăng ký
CREATE function [dbo].[SoLuongDaDangKyChuyenDe](@macd char(15),@mahk char(3),@nam int)
returns int
as begin
	declare @count int =0
	select @count= count(*) from DANGKY_LOP_CHUYENDE dkcd where dkcd.MACD=@macd and dkcd.MAHK=@mahk and dkcd.NAM = @nam
	return 1;
end
GO
/****** Object:  UserDefinedFunction [dbo].[soluongtenchuyendegiong]    Script Date: 1/3/2019 6:00:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[soluongtenchuyendegiong](@tenchuyende nvarchar(100))
returns int
as begin
	declare @count int
	select @count = count(*) from CHUYENDE cd where cd.TENCD = @tenchuyende
	return @count
end
GO
/****** Object:  UserDefinedFunction [dbo].[soluongtennganhgiong]    Script Date: 1/3/2019 6:00:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[soluongtennganhgiong](@tennganh nvarchar(100))
returns int
as begin
	declare @count int
	select @count = count(*) from NGANH n where n.TENNGANH = @tennganh
	return @count
end
GO
/****** Object:  UserDefinedFunction [dbo].[uf_TaoMaNoiDungLopChuyenDe]    Script Date: 1/3/2019 6:00:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[uf_TaoMaNoiDungLopChuyenDe]()
RETURNS NVARCHAR(10)
AS
BEGIN
	DECLARE @MaNoiDung NVARCHAR(10)
	DECLARE cur CURSOR
	FOR SELECT MAND FROM NOIDUNG_LOP_CHUYENDE
	OPEN cur
	FETCH NEXT FROM cur INTO @MaNoiDung
	DECLARE @i INT = 1
	DECLARE @MaNDMau NVARCHAR(6) = N'ND0000'
	WHILE @@FETCH_STATUS = 0
		BEGIN
			DECLARE @temp NVARCHAR(10)
			SET @temp = @MaNDMau + CONVERT(NVARCHAR(4),@i)		
			IF (@temp = @MaNoiDung)
				BEGIN			
					FETCH NEXT FROM cur INTO @MaNoiDung		
					SET @i += 1					
				END
				ELSE
				BEGIN
					BREAK
				END
		END
	CLOSE cur
	DEALLOCATE cur
	RETURN @MaNDMau + CONVERT(NVARCHAR(4),@i)
END
GO
/****** Object:  Table [dbo].[CHUYENDE]    Script Date: 1/3/2019 6:00:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUYENDE](
	[MACD] [char](15) NOT NULL,
	[MANGANH] [char](15) NOT NULL,
	[TENCD] [nvarchar](50) NULL,
 CONSTRAINT [PK_CHUYENDE] PRIMARY KEY CLUSTERED 
(
	[MACD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANGKY_LOP_CHUYENDE]    Script Date: 1/3/2019 6:00:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGKY_LOP_CHUYENDE](
	[MACD] [char](15) NOT NULL,
	[NAM] [int] NOT NULL,
	[MAHK] [char](3) NOT NULL,
	[MASV] [char](15) NOT NULL,
	[MANHOM] [char](15) NOT NULL,
 CONSTRAINT [PK_DANGKY_LOP_CHUYENDE] PRIMARY KEY CLUSTERED 
(
	[MACD] ASC,
	[NAM] ASC,
	[MAHK] ASC,
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAOVIEN]    Script Date: 1/3/2019 6:00:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAOVIEN](
	[MAGV] [char](10) NOT NULL,
	[USERID] [char](10) NOT NULL,
	[TENGV] [nvarchar](50) NULL,
	[NGAYSINH] [datetime] NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[DIENTHOAI] [char](10) NULL,
 CONSTRAINT [PK_GIAOVIEN] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAOVIEN_COTHEDAY_CHUYENDE]    Script Date: 1/3/2019 6:00:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAOVIEN_COTHEDAY_CHUYENDE](
	[MACD] [char](15) NOT NULL,
	[MAGV] [char](10) NOT NULL,
 CONSTRAINT [PK_GIAOVIEN_COTHEDAY_CHUYENDE] PRIMARY KEY CLUSTERED 
(
	[MACD] ASC,
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAOVIEN_THAMGIA_CHUYENDE]    Script Date: 1/3/2019 6:00:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAOVIEN_THAMGIA_CHUYENDE](
	[GIA_MACD] [char](15) NOT NULL,
	[MAGV] [char](10) NOT NULL,
	[MACD] [char](15) NOT NULL,
	[NAM] [int] NOT NULL,
	[MAHK] [char](3) NOT NULL,
 CONSTRAINT [PK_GIAOVIEN_THAMGIA_CHUYENDE] PRIMARY KEY CLUSTERED 
(
	[GIA_MACD] ASC,
	[MAGV] ASC,
	[MACD] ASC,
	[NAM] ASC,
	[MAHK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAOVU]    Script Date: 1/3/2019 6:00:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAOVU](
	[MAGIAOVU] [char](10) NOT NULL,
	[USERID] [char](10) NOT NULL,
	[TENGIAOVU] [nvarchar](60) NULL,
	[NGAYSINH] [datetime] NULL,
	[GIOITINH] [nvarchar](10) NULL,
 CONSTRAINT [PK_GIAOVU] PRIMARY KEY CLUSTERED 
(
	[MAGIAOVU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOCKY]    Script Date: 1/3/2019 6:00:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCKY](
	[NAM] [int] NOT NULL,
	[MAHK] [char](3) NOT NULL,
 CONSTRAINT [PK_HOCKY] PRIMARY KEY CLUSTERED 
(
	[NAM] ASC,
	[MAHK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KETQUA]    Script Date: 1/3/2019 6:00:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KETQUA](
	[KETQUAID] [int] NOT NULL,
	[MACD] [char](15) NOT NULL,
	[NAM] [int] NOT NULL,
	[MAHK] [char](3) NOT NULL,
	[MASV] [char](15) NOT NULL,
	[DIEM] [decimal](3, 1) NULL,
 CONSTRAINT [PK_KETQUA] PRIMARY KEY CLUSTERED 
(
	[KETQUAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGANH]    Script Date: 1/3/2019 6:00:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGANH](
	[MANGANH] [char](15) NOT NULL,
	[TENNGANH] [nvarchar](100) NULL,
	[SOCHUYENDETOIDA] [int] NOT NULL,
 CONSTRAINT [PK_NGANH] PRIMARY KEY CLUSTERED 
(
	[MANGANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHOM]    Script Date: 1/3/2019 6:00:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHOM](
	[MANHOM] [char](15) NOT NULL,
	[MACD] [char](15) NOT NULL,
	[NAM] [int] NOT NULL,
	[MAHK] [char](3) NOT NULL,
	[TENNHOM] [nvarchar](100) NOT NULL,
	[SOTHANHVIENTOIDA] [int] NOT NULL,
 CONSTRAINT [PK_NHOM] PRIMARY KEY CLUSTERED 
(
	[MANHOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOIDUNG_LOP_CHUYENDE]    Script Date: 1/3/2019 6:00:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOIDUNG_LOP_CHUYENDE](
	[MAND] [char](10) NOT NULL,
	[GIA_MACD] [char](15) NOT NULL,
	[MAGV] [char](10) NOT NULL,
	[MACD] [char](15) NOT NULL,
	[NAM] [int] NOT NULL,
	[MAHK] [char](3) NOT NULL,
	[TENND] [nvarchar](100) NULL,
	[NOIDUNGCD] [varbinary](max) NULL,
	[THELOAI] [nchar](10) NULL,
	[THOIGIANBT] [datetime] NULL,
	[THOIGIANKT] [datetime] NULL,
	[ICON] [varbinary](max) NULL,
 CONSTRAINT [PK_NOIDUNG_LOP_CHUYENDE] PRIMARY KEY CLUSTERED 
(
	[MAND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANHE]    Script Date: 1/3/2019 6:00:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANHE](
	[PHANHEID] [char](10) NOT NULL,
	[TENPHANHE] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_PHANHE] PRIMARY KEY CLUSTERED 
(
	[PHANHEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 1/3/2019 6:00:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [char](15) NOT NULL,
	[MANGANH] [char](15) NOT NULL,
	[USERID] [char](10) NOT NULL,
	[TENSV] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[PHAI] [nvarchar](10) NULL,
	[NGAYSINH] [datetime] NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THONGTIN_CHUYENDE_MO]    Script Date: 1/3/2019 6:00:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONGTIN_CHUYENDE_MO](
	[MACD] [char](15) NOT NULL,
	[NAM] [int] NOT NULL,
	[MAHK] [char](3) NOT NULL,
	[MAGIAOVU] [char](10) NOT NULL,
	[THOIGIANBD] [datetime] NOT NULL,
	[THOIGIANKT] [datetime] NOT NULL,
	[SOLUONGSINHVIENTOIDA] [int] NOT NULL,
	[SOLUONGNHOMTOIDA] [int] NOT NULL,
	[TRANGTHAI] [nvarchar](20) NULL,
 CONSTRAINT [PK_THONGTIN_CHUYENDE_MO] PRIMARY KEY CLUSTERED 
(
	[MACD] ASC,
	[NAM] ASC,
	[MAHK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 1/3/2019 6:00:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[USERID] [char](10) NOT NULL,
	[PHANHEID] [char](10) NOT NULL,
	[USERNAME] [char](30) NOT NULL,
	[PASSWORD] [char](30) NOT NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHUYENDE]  WITH CHECK ADD  CONSTRAINT [FK_CHUYENDE_GOMCACCHU_NGANH] FOREIGN KEY([MANGANH])
REFERENCES [dbo].[NGANH] ([MANGANH])
GO
ALTER TABLE [dbo].[CHUYENDE] CHECK CONSTRAINT [FK_CHUYENDE_GOMCACCHU_NGANH]
GO
ALTER TABLE [dbo].[DANGKY_LOP_CHUYENDE]  WITH CHECK ADD  CONSTRAINT [FK_DANGKY_L_DANGKY_CH_THONGTIN] FOREIGN KEY([MACD], [NAM], [MAHK])
REFERENCES [dbo].[THONGTIN_CHUYENDE_MO] ([MACD], [NAM], [MAHK])
GO
ALTER TABLE [dbo].[DANGKY_LOP_CHUYENDE] CHECK CONSTRAINT [FK_DANGKY_L_DANGKY_CH_THONGTIN]
GO
ALTER TABLE [dbo].[DANGKY_LOP_CHUYENDE]  WITH CHECK ADD  CONSTRAINT [FK_DANGKY_L_DANGKY_NH_NHOM] FOREIGN KEY([MANHOM])
REFERENCES [dbo].[NHOM] ([MANHOM])
GO
ALTER TABLE [dbo].[DANGKY_LOP_CHUYENDE] CHECK CONSTRAINT [FK_DANGKY_L_DANGKY_NH_NHOM]
GO
ALTER TABLE [dbo].[DANGKY_LOP_CHUYENDE]  WITH CHECK ADD  CONSTRAINT [FK_DANGKY_L_DANGKY_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
GO
ALTER TABLE [dbo].[DANGKY_LOP_CHUYENDE] CHECK CONSTRAINT [FK_DANGKY_L_DANGKY_SINHVIEN]
GO
ALTER TABLE [dbo].[GIAOVIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIAOVIEN_TAIKHOAN__USER] FOREIGN KEY([USERID])
REFERENCES [dbo].[USERS] ([USERID])
GO
ALTER TABLE [dbo].[GIAOVIEN] CHECK CONSTRAINT [FK_GIAOVIEN_TAIKHOAN__USER]
GO
ALTER TABLE [dbo].[GIAOVIEN_COTHEDAY_CHUYENDE]  WITH CHECK ADD  CONSTRAINT [FK_GIAOVIEN_GOM_CHUYE_CHUYENDE] FOREIGN KEY([MACD])
REFERENCES [dbo].[CHUYENDE] ([MACD])
GO
ALTER TABLE [dbo].[GIAOVIEN_COTHEDAY_CHUYENDE] CHECK CONSTRAINT [FK_GIAOVIEN_GOM_CHUYE_CHUYENDE]
GO
ALTER TABLE [dbo].[GIAOVIEN_COTHEDAY_CHUYENDE]  WITH CHECK ADD  CONSTRAINT [FK_GIAOVIEN_GOM_GIAOV_GIAOVIEN] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[GIAOVIEN_COTHEDAY_CHUYENDE] CHECK CONSTRAINT [FK_GIAOVIEN_GOM_GIAOV_GIAOVIEN]
GO
ALTER TABLE [dbo].[GIAOVIEN_THAMGIA_CHUYENDE]  WITH CHECK ADD  CONSTRAINT [FK_GIAOVIEN_CO_GIAOVI_THONGTIN] FOREIGN KEY([MACD], [NAM], [MAHK])
REFERENCES [dbo].[THONGTIN_CHUYENDE_MO] ([MACD], [NAM], [MAHK])
GO
ALTER TABLE [dbo].[GIAOVIEN_THAMGIA_CHUYENDE] CHECK CONSTRAINT [FK_GIAOVIEN_CO_GIAOVI_THONGTIN]
GO
ALTER TABLE [dbo].[GIAOVIEN_THAMGIA_CHUYENDE]  WITH CHECK ADD  CONSTRAINT [FK_GIAOVIEN_LOP_GOM_G_GIAOVIEN] FOREIGN KEY([GIA_MACD], [MAGV])
REFERENCES [dbo].[GIAOVIEN_COTHEDAY_CHUYENDE] ([MACD], [MAGV])
GO
ALTER TABLE [dbo].[GIAOVIEN_THAMGIA_CHUYENDE] CHECK CONSTRAINT [FK_GIAOVIEN_LOP_GOM_G_GIAOVIEN]
GO
ALTER TABLE [dbo].[GIAOVU]  WITH CHECK ADD  CONSTRAINT [FK_GIAOVU_TAIKHOAN__USER] FOREIGN KEY([USERID])
REFERENCES [dbo].[USERS] ([USERID])
GO
ALTER TABLE [dbo].[GIAOVU] CHECK CONSTRAINT [FK_GIAOVU_TAIKHOAN__USER]
GO
ALTER TABLE [dbo].[KETQUA]  WITH CHECK ADD  CONSTRAINT [FK_KETQUA_CHUA_KETQ_DANGKY_L] FOREIGN KEY([MACD], [NAM], [MAHK], [MASV])
REFERENCES [dbo].[DANGKY_LOP_CHUYENDE] ([MACD], [NAM], [MAHK], [MASV])
GO
ALTER TABLE [dbo].[KETQUA] CHECK CONSTRAINT [FK_KETQUA_CHUA_KETQ_DANGKY_L]
GO
ALTER TABLE [dbo].[NHOM]  WITH CHECK ADD  CONSTRAINT [FK_NHOM_GOM_NHOM_THONGTIN] FOREIGN KEY([MACD], [NAM], [MAHK])
REFERENCES [dbo].[THONGTIN_CHUYENDE_MO] ([MACD], [NAM], [MAHK])
GO
ALTER TABLE [dbo].[NHOM] CHECK CONSTRAINT [FK_NHOM_GOM_NHOM_THONGTIN]
GO
ALTER TABLE [dbo].[NOIDUNG_LOP_CHUYENDE]  WITH CHECK ADD  CONSTRAINT [FK_NOIDUNG__GIAO_NOID_GIAOVIEN] FOREIGN KEY([GIA_MACD], [MAGV], [MACD], [NAM], [MAHK])
REFERENCES [dbo].[GIAOVIEN_THAMGIA_CHUYENDE] ([GIA_MACD], [MAGV], [MACD], [NAM], [MAHK])
GO
ALTER TABLE [dbo].[NOIDUNG_LOP_CHUYENDE] CHECK CONSTRAINT [FK_NOIDUNG__GIAO_NOID_GIAOVIEN]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_HOC_NGANH] FOREIGN KEY([MANGANH])
REFERENCES [dbo].[NGANH] ([MANGANH])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_HOC_NGANH]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_TAIKHOAN__USER] FOREIGN KEY([USERID])
REFERENCES [dbo].[USERS] ([USERID])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_TAIKHOAN__USER]
GO
ALTER TABLE [dbo].[THONGTIN_CHUYENDE_MO]  WITH CHECK ADD  CONSTRAINT [FK_THONGTIN_MO_LOP_CH_GIAOVU] FOREIGN KEY([MAGIAOVU])
REFERENCES [dbo].[GIAOVU] ([MAGIAOVU])
GO
ALTER TABLE [dbo].[THONGTIN_CHUYENDE_MO] CHECK CONSTRAINT [FK_THONGTIN_MO_LOP_CH_GIAOVU]
GO
ALTER TABLE [dbo].[THONGTIN_CHUYENDE_MO]  WITH CHECK ADD  CONSTRAINT [FK_THONGTIN_THUOC_CHU_CHUYENDE] FOREIGN KEY([MACD])
REFERENCES [dbo].[CHUYENDE] ([MACD])
GO
ALTER TABLE [dbo].[THONGTIN_CHUYENDE_MO] CHECK CONSTRAINT [FK_THONGTIN_THUOC_CHU_CHUYENDE]
GO
ALTER TABLE [dbo].[THONGTIN_CHUYENDE_MO]  WITH CHECK ADD  CONSTRAINT [FK_THONGTIN_THUOC_HOC_HOCKY] FOREIGN KEY([NAM], [MAHK])
REFERENCES [dbo].[HOCKY] ([NAM], [MAHK])
GO
ALTER TABLE [dbo].[THONGTIN_CHUYENDE_MO] CHECK CONSTRAINT [FK_THONGTIN_THUOC_HOC_HOCKY]
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD  CONSTRAINT [FK_USER_THUOC_PHA_PHANHE] FOREIGN KEY([PHANHEID])
REFERENCES [dbo].[PHANHE] ([PHANHEID])
GO
ALTER TABLE [dbo].[USERS] CHECK CONSTRAINT [FK_USER_THUOC_PHA_PHANHE]
GO
/****** Object:  StoredProcedure [dbo].[up_TaoMaChuyenDe]    Script Date: 1/3/2019 6:00:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[up_TaoMaChuyenDe] @MaChuyenDeMoi NVARCHAR(10) OUT
AS
BEGIN
	print 'ahihi'
END
GO
/****** Object:  StoredProcedure [dbo].[usp_TaoMaNoiDungLopChuyenDe]    Script Date: 1/3/2019 6:00:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_TaoMaNoiDungLopChuyenDe] 
@id NVARCHAR(10) OUTPUT
AS
BEGIN
	set @id = dbo.uf_TaoMaNoiDungLopChuyenDe()
END
GO
